# Lista de JIDs permitidos (Obrigatório *)
ALLOWED_JIDS="5531999999999@s.whatsapp.net,5591999999999@s.whatsapp.net"
# Sua chave de API OpenAI (opcional)
OPENAI_API_KEY="PUT_YOUR_OPENAI_KEY_HERE"
# Sua chave de API do Gemini (opcional)
GEMINI_API_KEY="PUT_YOUR_GOOGLE_AI_STUDIO_KEY_HERE"
# O modelo que será usado para gerar as respostas, Google AI Studio (opcional)
GEMINI_MODEL="gemini-3.6-flash"
# O modelo que será usado para gerar as respostas, OpenAI (opcional)
OPENAI_MODEL="gpt-5.6-luna"
# O caminho usado para salvar seus arquivos de sessão (opcional)
AUTH_STATE_PATH=".auth"
# A timezone que será usada em datas e horários (opcional)
TIMEZONE="America/Sao_Paulo"
# O nível de logging que o app irá usar (opcional)
LOG_LEVEL="debug"
# O nível de loggin especificamente da baileys (opcional)
BAILEYS_LOG_LEVEL="silent"